:root {
  --layout-menu-sider-width: 60px;
  --layout-menu-sider-margin-inline-end: 2px;
  --layout-menu-item-width: 54px;
  --layout-menu-item-icon-size: 30px;
  --layout-list-sider-bar-height: 30px;
  --layout-list-sider-width: 250px;
  --layout-editor-toolbar-height: 60px;
  --layout-editor-inner-container-with-preview-width: 60%;
}

a {
  font-weight: 500;
  color: var(--a-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--a-hover-color);
}
